<div class="list-group w-50 py-5">
  <a href="#" class="list-group-item bg-dark border border-primary-subtle  text-center text-white">Help bar</a>

  <a href="countries/by-countries" routerLink="countries/by-countries" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary">Countries</a>
  <a href="countries/by-capital" routerLink="countries/by-capital" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary">Capitals</a>
  <a href="countries/by-region" routerLink="countries/by-region"  routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary">Regions</a>
  <!-- <a class="list-group-item list-group-item-action list-group-item-primary">Municipalities</a> -->
  <!-- <a class="list-group-item list-group-item-action list-group-item-primary">Flags</a> -->
  <!-- <a class="list-group-item list-group-item-action list-group-item-primary">Presidents</a> -->
</div>
