<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark fixed-top bg-dark" style="position:relative;">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">
        <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="45" height="35" class="d-inline-block align-text-top">
        {{title}}
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse align-text-center justify-content-lg-end px-4" id="navbarCollapse" style="flex-grow: inherit;">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="row mt-4">
<div class="col-3">
  <shared-sidebar></shared-sidebar>
</div>
<div class="col">
  <!-- Nuestras Paginas -->
   <router-outlet></router-outlet>
</div>
</div>
